{
  "argv": [
    "/bin/bash",
    "-c",
    "export PATH=\"__SQUASHFUSE_DIR__:$PATH\"; exec \"__SINGULARITY__\" exec --cleanenv __SIF_FUSE__ --bind /fusion \"__SIF__\" fuse --threads=__THREADS__ -e 'import IJulia; IJulia.run_kernel()' \"$1\"",
    "fuse-kernel",
    "{connection_file}"
  ],
  "display_name": "__DISPLAY__",
  "language": "julia",
  "metadata": {
    "debugger": true
  }
}
