name: Make Docs

on:
  push:
    branches: ["master"]
    paths:
      - 'Project.toml' # new version released
    tags: '*'
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-docs
  cancel-in-progress: true

jobs:
  make_docs:
    permissions:
      contents: write
      statuses: write
    name: Documentation
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: julia-actions/setup-julia@latest

      - uses: julia-actions/cache@v4

      - name: Add FuseRegistry
        run: |
          rm -rf ~/.julia/registries/FuseRegistry
          julia -e 'using Pkg; Pkg.Registry.add(RegistrySpec(url="https://github.com/ProjectTorreyPines/FuseRegistry.jl.git")); Pkg.Registry.add("General"); Pkg.Registry.update()'

      - name: Replace git@github.com with https in Package.toml files
        run: |
          find ~/.julia/registries/FuseRegistry -type f -name 'Package.toml' -exec sed -i 's|git@github.com:|https://project-torrey-pines:${{secrets.PTP_READ_TOKEN}}@github.com/|g' {} +

      - name: Install dependencies
        run: |
          julia --project=docs -e '
            using Pkg
            Pkg.activate("docs")
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()
          '

      - name: "Build and deploy"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
        run: julia --project=docs/ docs/make.jl
