name: Make Docs

on:
  push:
    branches: ["master"]
    paths:
      - 'Project.toml' # new version released
    tags: '*'
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  make_docs:
    uses: ProjectTorreyPines/GitHubActionsWorkflows/.github/workflows/make_docs.yml@master
